
body{
  background-image: url(images/graveyard.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 50%;
overflow: visible;
}
zombieImage
{
  position: absolute;
  width: 20%;
  height: 20%;

}
