
body {
  margin: 30px auto;
  max-width: 60%;
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 1.5;
  padding: 30px 25px;
  text-align: center;
}

h1 {
  padding: 20px 0px 20px 0px;
  margin-bottom: 10px;
  color: red;
}
button {
  float: right;
  font-size: 16pt;
  list-style-type: lower-greek;
  background: blue;
  padding: 5px;
  margin-right: 5px;
}
a {
color: black;
text-decoration: none;
}
.link:hover {
  color: black;
  background-color: yellow;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid white;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}
.modal.active{
    transform: translate(-50%, -50%) scale(1);
}
.modal-header{
  padding: 10px, 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.modal-header .titl{
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-body{
  padding: 10px, 15px;
}
#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}
#overlay.active{
  opacity: 1;
  pointer-events: all;
}
